# RPC URLS
RPC_URL_ETH=''
RPC_URL_POLYGON=''
RPC_URL_BSC=''
RPC_URL_AVALANCHE=''
RPC_URL_ARBITRUM=''
RPC_URL_FANTOM=''
RPC_URL_OPTIMISM=''
RPC_URL_CELO=''

# WalletConnect
REOWN_PROJECT_ID=''

# CONTRACT INFO
CONTRACT_ADDRESS='0xa6b67d986b9F82F12a91Cf2C39cC90E60576b032'
CONTRACT_CHAIN='BSC'